.index {
  --color-primary: #002FA7;
  --color-text-primary: #595959;
  --color-text-secondary: #8c8c8c;
  --padding-horizontal: 32px;

  width: 100%;
  background-color: #fff;
  font-size: 16px;
  color: var(--color-text-primary);
  line-height: 1.65;
  position: relative;

  > * {
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    position: relative;
  }

  .header {
    padding-bottom: 28px;
    margin-left: calc(var(--padding-horizontal) * -1);
    margin-right: calc(var(--padding-horizontal) * -1);
  }

  .title {
    margin: 16px 0;
  }

  .content {
    padding-top: 6px;
    padding-bottom: 24px;
  }

  .introduce {
    > div {
      line-height: 1.65;
    }
    > div + div {
      margin-top: 6px;
    }
  }
}

@page {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}

@page:first {
  margin-top: 0;
}
