.index {
  --color-primary: #002fa7;
  --background: #fff;
  --padding-horizontal: 38px;
  --fontsize-h1: 18px;
  --fontsize-h2: 16px;

  width: var(--content-width);
  height: var(--content-height);

  overflow: hidden;
  background: var(--background);
  display: flex;
  font-size: 16px;
  line-height: 1.8;

  .left {
    flex-shrink: 0;
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #000;
    padding: 0 24px;
    color: #fff;
    padding-top: 76px;
    > * + * {
      margin-top: 38px;
    }
  }

  .right {
    padding: 0 38px;
    padding-top: 48px;

    .title {
      margin-top: 38px;
      margin-left: -12px;
      --title-background: #efefef;
    }

    .item {
      padding-top: 16px;
    }

    .introduce {
      padding-top: 16px;
    }
  }
}

@page {
  margin: 0;
  padding: 0;
}
