.index {
  > * {
    margin-bottom: 16px;
  }

  .modules {
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
      background: #f7f7f7;
    }
    .item + .item {
      border-top: 1px solid #efefef;
    }
  }

  .bg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    .item {
      cursor: pointer;
      background: #efefef;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
