.index {
  > * {
    margin-bottom: 16px;
  }

  .backgrounds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    .item {
      width: 100%;
      height: 100px;
      border: 1px solid #dfdfdf;
      border-radius: 5px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 8px;
    }
  }
}
