.index {
  min-width: 1200px;
  background: rgba($color: #000000, $alpha: 0.06);
  header {
    height: 600px;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
    .content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      background: rgba($color: #000000, $alpha: 0.6);

      .title {
        font-size: 72px;
      }

      .actions {
        padding-top: 24px;
        display: flex;
        gap: 16px;
        .action {
          padding: 24px 50px;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          .icon {
            margin-right: 8px;
          }
        }
        .github {
          background: transparent;
          color: #fff;
        }
      }
    }
  }

  main,
  footer > .content {
    max-width: 1600px;
    margin: 0px auto;
    padding: 54px 16px;
  }

  main {
    .title {
      padding-bottom: 18px;
      font-size: 30px;
      font-weight: lighter;
      color: #333;
    }

    .templates {
      display: flex;
      gap: 38px;
      width: 100%;
      .template {
        width: 100%;
        padding: 8px;
        background: #fff;
        transition: all 0.3s;
        &:hover {
          box-shadow: var(--shadow-1-down);
        }
      }
    }

    .tip {
      padding-top: 24px;
      color: rgba($color: #000000, $alpha: 0.6);
    }
  }

  footer {
    background: #000;

    .content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      gap: 100px;
    }

    .thanks,
    .group {
      color: rgba($color: #ffffff, $alpha: 0.6);
      .title {
        font-size: 18px;
        padding-bottom: 12px;
        color: rgba($color: #ffffff, $alpha: 0.9);
      }
    }

    .thanks {
      .list {
        line-height: 1.8;
      }
    }

    .group {
      .des {
        padding-top: 8px;
      }
      .image {
        width: 160px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
