.index {
  padding: 24px var(--padding-horizontal);
  display: flex;
  line-height: 1;
  position: relative;
  color: #333;

  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    .image {
      position: relative;
      width: 100%;
      height: 100%;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(#fff, 0), 20%, #fff);
    }
  }

  .content {
    position: relative;
    flex: 1;
    padding: 2px 0;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    .name {
      font-size: 36px;
    }
    .des {
      padding-top: 16px;
      line-height: 1.8;
    }
  }
}
