.index {
  background: #f9fafb;
  .item {
    padding: 12px;
    > * + * {
      margin-top: 8px;
    }
  }
  .item + .item {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.03);
  }

  .add {
    padding: 12px;
    padding-top: 0;
  }
}
